
/*============(Media-Query)============*/

@include media-query(1094px) {
  .video {
    width: 548px;
  }
}

@include media-query(1000px) {
  .navbar__container {
    position: relative;
  }

  .navbar__list {
    display: none;
    top: 5px;
    z-index: 22;
    position: fixed;
    flex-direction: column;
    right: 0;
    gap: 18px;
    background-color: #000000;
    padding: 2em;
    border-radius: 15px 0 0 15px;
    align-items: center;
    margin-top: 40px;
    animation: menu 1s ease 0s 1 normal forwards;

    @keyframes menu {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      50% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    a {
      font-size: 1em;
    }
  }

  .navbar .menu-btn {
    display: inline-block;
  }

  .video {
    width: 100%;
  }
}

@include media-query(960px) {
  // Hero
  .hero {
    padding-bottom: 4rem;
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 3em;
      min-height: 58em;
    }

    .video {
      width: 100%;
    }

    &__text {
      max-width: 100%;
    }

    &__section--primary {
      padding-top: 5em;
    }

    &__section--video {
      justify-content: flex-start;
    }
  }

  // Sobre
  .sobre {
    min-height: 55em;

    &__content {
      row-gap: 4rem;
      &__section {
        align-items: center;
        &__title {
          max-width: 100%;
          text-align: center;
        }

        &__text {
          max-width: 100%;
          text-align: center;
        }
      }
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &__section--primary {
        padding-top: 7em;
      }

      &__section--secudary {
        max-width: 100%;

        .img-2 {
          right: 40%;
          left: auto;
        }

        .img-3 {
          right: 0;
          left: auto;
        }
      }
    }
  }

  // Meterial
  .material {
    min-height: 60em;
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 1em;

      .group {
        justify-content: center;
      }

      &__section--primary {
        text-align: center;

        &__title {
          max-width: 100%;
        }

        &__text {
          max-width: 100%;
        }
      }
    }
  }

  // Contato
  .contato {
    padding: 3em 0 0em 0;
    min-height: 65em;

    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &__section--primary {
        &__title {
          text-align: center;
        }
      }

      .group {
        justify-content: center;
      }

      .form {
        max-width: 50em;
        margin: auto;
        margin-top: 3em;
      }
    }
  }

  // Resultados
  .informacoes__content--secundary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    &__card {
      max-width: 20rem;
      width: 100%;
      margin: auto;
    }
  }

  .resultados {
    padding: 3rem 0 0rem 0;
  }

  .resultados__content {
    padding-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 22rem 28rem;
  }

  .resultados__content__section--secundary .group {
    justify-content: center;
  }

  .resultados__content__section--secundary__title {
    text-align: center;
  }

  .resultados__content__section--secundary .buttons-video {
    margin: auto;
    margin-top: 1rem;
  }

  .resultados__content__section--primary {
    grid-row: 2 / 2;
  }
}

@include media-query(943px) {
  .desvendando {
    &__content {
      &__section--secundary__btns-2 {
        button {
          font-size: 0.8em;
          padding: 10px 1.5em;
          box-shadow: 0px 0px 10px rgb(104 103 103 / 17%);
        }
      }
    }
  }
}

@include media-query(798px) {
  .conatiner-option .option {
    grid-template-rows: 1fr 24em;
    grid-template-columns: 1fr;
  }

  .conatiner-option .option--primary__title {
    text-align: center;
  }

  .conatiner-option .option--primary__group-text {
    display: grid;
    grid-template-columns: 1fr;
  }

  .conatiner-option .option--primary i {
    display: none;
  }
}

@include media-query(782px) {
  .sobre__content {
    row-gap: 2rem;
  }
}

@include media-query(770px) {
  .desvendando__content__section--secundary .group-buttons,
  .desvendando__content__section--secundary-jogo .buttons-jogo-da-vida {
    flex-direction: column;
  }

  .desvendando__content__section--secundary .group-buttons__btn,
  .desvendando__content__section--secundary-jogo .buttons-jogo-da-vida {
    width: 100%;
  }
}

@include media-query(750px) {
  // Titulos
  .sobre__content__section__title,
  .desvendando__content__section--primary__title,
  .material__content__section--primary__title,
  .resultados__content__section--primary__title,
  .contato__content__section--primary__title,
  .desvendando__content__section--primary__title,
  .audiencia__content--primary__title {
    font-size: 2.5em;
  }
}

@include media-query(718px) {
  .sobre__content__section--secudary .img-2 {
    right: 37%;
  }
}

@include media-query(692px) {
  .desvendando__content__section--secundary__btns-2 {
    flex-direction: column;
    align-items: baseline;
    width: 100%;

    .btn1,
    .btn2,
    .btn3 {
      width: 100%;
    }
  }
}

@include media-query(622px) {
  .sobre__content__section--secudary .img-2 {
    right: 34%;
  }

  .audiencia__content--secundary iframe {
    aspect-ratio: 5 / 5;
  }

  .audiencia__content--secundary .buttons_audiencia {
    button {
      font-size: 0.9rem;
      padding: 10px 0.5em;
      height: auto;
    }
  }

  .desvendando__content__section--secundary .btn-mapa {
    width: 8em;
    height: 8em;
  }
}

@include media-query(600px) {
  .sobre {
    &__content {
      &__section--secudary {
        height: 16em;

        .img-2 {
          right: 38%;
        }

        .img-3 {
          top: auto;
          bottom: -2.3em;
          left: auto;
        }
      }
    }
  }
}

@include media-query(578px) {
  .sobre__content {
    grid-template-rows: 1fr 17em;
    row-gap: 0;
  }
}

@include media-query(516px) {
  .hero__content {
    min-height: 60em;
  }

  .conatiner-option .option--primary__title,
  .desvendando__content__section--primary__title,
  .audiencia__content--primary__title {
    font-size: 2em;
  }

  .conatiner-option .option {
    grid-template-rows: 1fr 20em;
    row-gap: 2em;
  }
}

@include media-query(480px) {
  .video__icon {
    width: 34px;
    margin-left: 6px;
  }

  .hero__content {
    min-height: 48em;
  }

  .resultados__content__section--secundary .card-location__city-name {
    margin-top: 0;
    text-align: start;
    font-size: 1.3em;
  }
  // Titulos
  .sobre__content__section__title,
  .desvendando__content__section--primary__title,
  .material__content__section--primary__title,
  .resultados__content__section--primary__title,
  .contato__content__section--primary__title,
  .hero__title,
  .desvendando__content__section--primary__title,
  .audiencia__content--primary__title {
    font-size: 2em;
  }
  .desvendando__content__section--secundary__group-box__box .question,
  .desvendando__content__section--secundary__group-box__box .response {
    font-size: 1em;
  }

  .material__content__section--secundary .link {
    font-size: 0.7em;
  }
}

@include media-query(464px) {
  .hero__content {
    min-height: 54em;
  }

  .audiencia__content--secundary iframe {
    aspect-ratio: 4 / 5;
  }
}

@include media-query(458px) {
  .sobre {
    padding-top: 3em;
    &__content {
      &__section--secudary {
        height: 15em;
        .img-2 {
          right: 34%;
        }
      }
    }
  }

  .conatiner-option .option--primary__text {
    font-size: 0.9em;
  }
}

@include media-query(430px) {
  .desvendando__content__section--secundary .btn-mapa {
    width: 6em;
    height: 6em;
  }

  .conatiner-option .option {
    padding: 2em 1em;
  }

  .conatiner-option .option--primary__title,
  .desvendando__content__section--primary__title,
  .audiencia__content--primary__title {
    font-size: 1.8em;
  }

  .conatiner-option .option--primary i {
    font-size: 2em;
  }

  .conatiner-option .option {
    grid-template-rows: 1fr 18em;
    row-gap: 3em;
  }
}

@include media-query(424px) {
  .button {
    max-width: 12em;
  }

  .button--highlight {
    max-width: 15em;
  }
}

@include media-query(380px) {
      .audiencia__content--secundary iframe {
        aspect-ratio: 3 / 5;
    }
}

@include media-query(376px) {
  .sobre__content__section__title,
  .desvendando__content__section--primary__title,
  .material__content__section--primary__title,
  .resultados__content__section--primary__title,
  .contato__content__section--primary__title,
  .hero__title,
  .audiencia__content--primary__title,
  .desvendando__content__section--primary__title {
    font-size: 1.8em;
  }

  .button--secondary,
  .button--primary {
    max-width: 10em;
  }
}
